body{
    background: url(anggrek-hitam.jpg) no-repeat;
    font-family: Georgia;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Georgia;
}

h1{
    background-color: purple;
    text-align: center;
    color: white;
}

h2{
    color: red;
    font-size: 25px;
}

p{
    margin-left: 50px;
    color: rgb(255, 231, 0);
    font-size: 24px;
}